---
apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    name: argocd
    app.kubernetes.io/part-of: gitops
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
    app.kubernetes.io/part-of: observability
    pod-security.kubernetes.io/enforce: restricted
---
apiVersion: v1
kind: Namespace
metadata:
  name: logging
  labels:
    name: logging
    app.kubernetes.io/part-of: observability
    pod-security.kubernetes.io/enforce: restricted
---
apiVersion: v1
kind: Namespace
metadata:
  name: elastic-system
  labels:
    name: elastic-system
    app.kubernetes.io/part-of: logging
---
apiVersion: v1
kind: Namespace
metadata:
  name: security
  labels:
    name: security
    app.kubernetes.io/part-of: security
---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
  labels:
    name: cert-manager
    app.kubernetes.io/part-of: security
---
apiVersion: v1
kind: Namespace
metadata:
  name: velero
  labels:
    name: velero
    app.kubernetes.io/part-of: operations
---
apiVersion: v1
kind: Namespace
metadata:
  name: sonarqube
  labels:
    name: sonarqube
    app.kubernetes.io/part-of: cicd
