apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: tax-calculator
  labels:
    app: tax-calculator
    component: frontend
spec:
  type: LoadBalancer
  selector:
    component: frontend
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  sessionAffinity: None
